a:hover , a:active , a:focus , a:link , a:visited {
    text-decoration: none;
}

ul > li {
    list-style: none;
    display: inline;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.navbar > h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 400px;
}

.navbar > ul {
    list-style-type: none;
    text-decoration: none;
    padding-right: 385px;
}

.navbar > ul > li > a {
    color: #E5E7EB;
    font-size: 18px;
    display: inline;
    margin: 15px;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-left: 400px;
    padding-right: 150px;
    margin-top: 0px;
}

.content > p {
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 400px;
    padding-right: 125px;
}

.content > button {
    margin-left: 400px;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero > .image {
    margin-right: 400px;
    background-color: grey;
    width: 600px;
    margin-bottom: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info > h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    text-shadow: 0.5px 0 #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
    padding-top: 30px;
    padding-bottom: 30px;
}

.illustrations {
    display: flex;
    margin-bottom: 60px;
}

.illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    width: 180px;
    height: 180px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    border: 5px solid #3882F6;  
}

.illustration > p {
    width: 180px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    height: 350px;
    text-align: left;
}

.quote > p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-top: 60px;
    padding-left: 480px;
    padding-right: 400px;
    margin-bottom: 30px;
}

.quote > h3 {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.5px 0 #1F2937;
    padding-left: 1150px;
}

